<!DOCTYPE html>
<html>
  <%

  const GLOBAL_TITLE = 'Rout-Ine';

  const INC_OPT = {
    globalTitle: '',
    title: GLOBAL_TITLE
  };
%>

    <head>
      <%-
        include('partials/head.ejs', INC_OPT)
      %>
    </head>

    <body>
      <%-
          include('partials/header.ejs', INC_OPT)
        %>
    </body>

</html>
