<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Localisation bénéficiaires</title>
  <script src="jquery-latest.min.js"></script>
  <!-- Bootstrap -->
  <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
  <!-- -->
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <header>
    <h1>RoutIne</h1>
    <h1>Route-Ine</h1>
    <h1>Rout-Ine</h1>
    <%- include('nav.html') %>
  </header>
</body>

</html>
