<!DOCTYPE html>
<html>
<%

  const GLOBAL_TITLE = 'Rout-Ine';

  const INC_OPT = {
    globalTitle: GLOBAL_TITLE,
    title: 'Gestion des tournées'
  };
%>

  <head>
    <%-
        include('partials/head.ejs', INC_OPT)
      %>
      <script>
      'use strict';

      $(document).ready(function() {

        $('nav #manageToursLink').addClass('active');

        $('#error').hide();
        $('#errorNoData').hide();
        $('#datesDropwdownMenu').hide();

        let map = initMap();

        $.get('listResults', function(dates) {

          if (dates.length == 0) {

            $('#errorNoData').show();
          } else {

            $('#datesDropwdownMenu').show();

            for (let i in dates) {

              let d = dates[i];

              let time = d.time.replace('-', 'h');
              time = time.replace(/-.*/, '');

              let link = $('<a href="#">').text('otenu le ' + d.date + ' à ' + time);

              link.click(function() {

                $('#dropdownMenu1').text(link.text());

                link.parent().siblings().each(function(index) {
                  $(this).css('background-color', '');
                });

                link.parent().css('background-color', 'rgb(200,255,200)');

                $.post('bestFromGa', d, displayBest);

              });

              $('#datesDropwdownMenu ul').append($('<li>').append(link));

            }

            $.post('bestFromGa', dates[dates.length - 1], displayBest);
            $('#datesDropwdownMenu ul li').last().css('background-color', 'rgb(200,255,200)');

          }

        });

        let routes = [];
        let controls = [];

        function cleanMap() {

          routes.forEach(function(layer) {
            map.removeLayer(layer);
          });

          controls.forEach(function(control) {
            map.removeControl(control);
          });

          $('#infos').empty();
        }

        function displayBest(bestResult) {

          if (bestResult.trips) {

            let markersColors = ["darkred", "blue", "green", "orange", "black", "purple"];

            let tours = bestResult.trips;

            cleanMap();

            fillResultsInfo('#infos', bestResult, markersColors);

            let groupTours = 'Tournées',
              groupMarkers = 'Adresses';
            let overlayMaps = {
              [groupTours]: {},
              [groupMarkers]: {}
            };

            for (let i in tours) {

              let tour = tours[i];

              let routeLayer = L.geoJSON(tour.trip.trips[0].geometry);
              routeLayer.setStyle(function(feature) {
                return {
                  color: markersColors[i]
                };
              }).addTo(map);

              routes.push(routeLayer);

              console.log(tour);

              let markers = addressesMarkers(tour.trip.waypoints, tour.addresses, markersColors[i]);

              routes.push(markers);

              overlayMaps[groupTours][markersColors[i]] = routeLayer;
              overlayMaps[groupMarkers][markersColors[i]] = markers;

            }

            var options = {
              // Make the "trips" group exclusive (use radio inputs)
              // exclusiveGroups: [groupName]
            };

            let groupControl = L.control.groupedLayers(null, overlayMaps, options);

            groupControl.addTo(map);

            controls.push(groupControl);

          } else {

            $('#error').show();

          }


        };

      });
      </script>
  </head>

  <body>
    <%-
    include('partials/header.ejs', INC_OPT)
  %>
      <div id="error" class="alert alert-danger" role="alert">Une erreur inconnue s'est produite, se référer aux logs serveur</div>
      <div class="container-fluid">
        <div class="row" id="main">
          <div class="col-xs-3">
            <div id="errorNoData" class="alert alert-danger" role="alert">Aucun résultat, lancer un <a href="tourComputing">Calcul des tournées</a></div>
            <div id="datesDropwdownMenu" class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Sélection du résultat
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              </ul>
            </div>
          </div>
          <div class="col-xs-6">
            <div id="map"></div>
          </div>
          <div class="col-xs-3">
            <p id="infos">
            </p>
          </div>
        </div>
      </div>
  </body>

</html>
