a,
a:visited {
    color: #3a4654;
}

a:hover {
    color: #800080;
    background-color: #bfbfbf;
}

body {
    font-family: "candara";
}

#map {
    height: 600px;
}

#infos {
    float: right;
    margin-right: 100px;
}
