a,
a:visited {
    color: #3a4654;
}

a:hover {
    color: #800080;
    background-color: #bfbfbf;
}


/*
body {
    background: #d3e8ba  ;
}*/

h1 {
    margin-top: 0px;
}

header {
    /*background: #abd37c;*/
    padding-bottom: 20px;
}

#map {
    height: 600px;
}
