<!DOCTYPE html>
<html lang="fr">
<%

  const GLOBAL_TITLE = 'Rout-Ine';

  const INC_OPT = {
    globalTitle: GLOBAL_TITLE,
    title: 'Initialisation des tournées'
  };
%>

  <head>
    <%-
        include('partials/head.ejs', INC_OPT)
      %>
      <script type="text/javascript">
      'use strict';
      /*
      Strict mode makes several changes to normal JavaScript semantics.
      First, strict mode eliminates some JavaScript silent errors by changing them to throw errors.
      Second, strict mode fixes mistakes that make it difficult for JavaScript engines to perform optimizations:
      strict mode code can sometimes be made to run faster than identical code that's not strict mode.
      Third, strict mode prohibits some syntax likely to be defined in future versions of ECMAScript.
      */

      // execute le javascript quand la page est completement chargee
      $(document).ready(function() {

        $('nav #tourComputingLink').addClass('active');

        const csvParse = require('csv-parse');

        let map = initMap();


        $('.alert').hide();

        let socket = io.connect();

        $('#startGa').prop("disabled", false);
        $('#stopGa').prop("disabled", true);

        $('#startGa').click(function() {

          $('.alert').hide();

          let params = {
            nbTrips: $('#nbTrips').val(),
            stopTime: $('#stopTime').val()
          };

          let okToStart = true;

          if (params.nbTrips < 2) {
            $('#errorTours').show();
            okToStart = false;
          }

          if (params.stopTime < 1) {
            $('#errorStopTime').show();
            okToStart = false;
          }

          if (okToStart)
            socket.emit('start', params);

        });

        socket.on('started', function() {

          $('#infos').empty();

          $('#startGa').prop("disabled", true);
          $('#stopGa').prop("disabled", false);


        });


        socket.on('stopped', function() {

          $('#startGa').prop("disabled", false);
          $('#stopGa').prop("disabled", true);

        });

        $('#stopGa').click(function() {

          socket.emit('stop');

        });

        let routes = [];

        socket.on('bestResult', function(bestResult) {

          console.log(bestResult);

          let tours = bestResult.trips;

          routes.forEach(function(layer) {
            map.removeLayer(layer);
          });

          let infosList = $('#infos');

          infosList.append($('<div class="row">').append($('<div class="col-xs-12">')).html("génération " + bestResult.genNumber));
          infosList.append($('<div class="row">').append($('<div class="col-xs-12">')).text('id partition : ' + bestResult.partitionId));
          infosList.append($('<div class="row">').append($('<div class="col-xs-12">')).text('obtenu en ' + utils.s2hours(bestResult.totalTime / 1000, true)));

          for (let i in tours) {

            let tour = tours[i];

            let colorColumnSize = 5;

            infosList.append($('<div class="row">')
              .append($('<div class="col-xs-' + colorColumnSize + '">').text(markersColors[i] + ' : ').css('color', markersColors[i]))
              .append($('<div class="col-xs-' + (12 - colorColumnSize) + '">').text(utils.s2hours(tour.trip.trips[0].duration, false) + '( ' + (tour.addresses.features.length - 1) + ' )').css('color', markersColors[i])));

            let routeLayer = L.geoJSON(tour.trip.trips[0].geometry).addTo(map);

            routeLayer.setStyle(function(feature) {
              return {
                color: markersColors[i]
              };
            });

            routes.push(routeLayer);

          }

          infosList.append($('<br>'));

        });

        $('#inputSchedule').change(function() {

          let schedule = this.files[0];

          let reader = new FileReader();

          reader.readAsText(schedule, 'Windows-1252');

          reader.onloadend = function() {

            csvParse(reader.result, {
              delimiter: ";"
            }, function(err, output) {

              console.log(output);

            });

          };

        });


      });
      </script>
  </head>

  <body>
    <%- include('partials/header.ejs', INC_OPT) %>
      <div class="container-fluid">
        <!-- <main> -->
          <div class="row" id="main">
            <div class="col-xs-3">
              <form id='formSchedule'>
                <div class="form-group">
                  <label for="nbTrips">Nombre de tournées : </label>
                  <input class="form-control" id="nbTrips" name="nbTrips" type="number">
                  <div id="errorTours" class="alert alert-danger" role="alert">Au moins 2 tournées nécessaire</div>
                </div>
                <!--           <div class="form-group">
            <label for="popSize">PopSize : </label>
            <input class="form-control" id="popSize" name="popSize" type="number">
          </div> -->
                <div class="form-group">
                  <label for="stopTime">Temps d'arrêt par adresse : </label>
                  <input class="form-control" id="stopTime" name="stopTime" type="number">
                  <div id="errorStopTime" class="alert alert-danger" role="alert">Doit être positif</div>
                </div>
                <!--           <div class="form-group">
            <label for="maxStops">Nombre maximum de livraisons par tournee : </label>
            <input class="form-control" id="maxStops" name="maxStops" type="number">
            <div id="errorTooSmall" class="alert alert-danger" role="alert">Maximum trop petit</div>
          </div> -->
                <!--           <div class="form-group">
            <label for="inputSchedule">Sélection du planning</label>
            <input type="file" id="inputSchedule" name="inputSchedule">
          </div> -->
                <!--        <div class="form-group">
            <label for="daySelection">Jour à calculer</label>
            <select id="daySelection" name="daySelection" class="form-control">
            </select>
          </div> -->
                <button id="startGa" class="btn btn-primary" type="button">Démarrer le calcul</button>
                <button id="stopGa" class="btn btn-danger" type="button">Stop</button>
              </form>
            </div>
            <div class="col-xs-6">
              <div id="map"></div>
            </div>
            <div class="col-xs-3">
              <p id="infos">
              </p>
            </div>
          </div>
        <!-- </main> -->
      </div>
  </body>

</html>
