<!DOCTYPE html>
<html lang="fr">
<%

  const GLOBAL_TITLE = 'Rout-Ine';

  const INC_OPT = {
    globalTitle: GLOBAL_TITLE,
    title: 'Importation Planning'
  };
%>

  <head>
    <%-
        include('partials/head.ejs', INC_OPT)
      %>
  <script type="text/javascript">
  'use strict';
  /*
  Strict mode makes several changes to normal JavaScript semantics.
  First, strict mode eliminates some JavaScript silent errors by changing them to throw errors.
  Second, strict mode fixes mistakes that make it difficult for JavaScript engines to perform optimizations:
  strict mode code can sometimes be made to run faster than identical code that's not strict mode.
  Third, strict mode prohibits some syntax likely to be defined in future versions of ECMAScript.
  */

  // execute le javascript quand la page est completement chargee
  $(document).ready(function() {

    const csvParse = require('csv-parse');

    $('#inputSchedule').change(function() {

      let schedule = this.files[0];

      let reader = new FileReader();

      reader.readAsText(schedule, 'Windows-1252');

      reader.onloadend = function() {

        csvParse(reader.result, {
          delimiter: ";"
        }, function(err, output) {

          console.log(output);

        });

      };

    });


  });
  </script>
</head>

<body>
    <%- include('partials/header.ejs', INC_OPT) %>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form id='formSchedule'>
          <div class="form-group">
            <label for="inputSchedule">Sélection du planning</label>
            <input type="file" id="inputSchedule" name="inputSchedule">
          </div>
          <button id="startGa" class="btn btn-success" type="button">Valider l'importation</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>