<header>
  <h1> <%= title %> </h1>
  <nav>
    <ul class="nav nav-pills">
      <!-- <li><a href="testTournee.html">Tournées exemples</a></li> -->
      <li role="presentation" id="manageToursLink" ><a href="manageTours">Gestion des tournées</a></li>
      <li role="presentation" id="uploadPlanningLink" ><a href="uploadPlanning">Importer un planning</a></li>
      <li role="presentation" id="tourComputingLink" ><a href="tourComputing">Initialisation des tournées</a></li>
      <li role="presentation"><a href="https://www.npmjs.com/package/crypto-js">https://www.npmjs.com/package/crypto-js</a></li>
    </ul>
  </nav>
</header>
