<header>
  <h1> <%= globalTitle %> - <%= title %> </h1>
  <nav>
    <ul class="nav nav-pills">
      <!-- <li><a href="testTournee.html">Tournées exemples</a></li> -->
      <li role="presentation" id="manageToursLink" ><a href="manageTours"><i class='ion-compose icons-nav' ></i> &nbsp;&nbsp; Gestion des tournées </a></li>
      <li role="presentation" id="uploadPlanningLink" ><a href="uploadPlanning"><i class='ion-ios-upload-outline icons-nav' ></i> &nbsp;&nbsp; Importer un planning </a></li>
      <li role="presentation" id="tourComputingLink" ><a href="tourComputing"><i class='ion-load-a icons-nav' ></i> &nbsp;&nbsp; Initialisation des tournées</a></li>
      <!-- <li role="presentation"><a href="https://www.npmjs.com/package/crypto-js">https://www.npmjs.com/package/crypto-js</a></li> -->
    </ul>
  </nav>
</header>
