<header>
  <h1> <%= title %> </h1>
  <nav>
    <ul>
      <!-- <li><a href="testTournee.html">Tournées exemples</a></li> -->
      <li><a href="manageTours">Gestion des tournées</a></li>
      <li><a href="uploadPlanning">Importer un planning</a></li>
      <li><a href="tourComputing">Initialisation des tournées</a></li>
      <li><a href="getNumberOfTours">getNumberOfTours</a></li>
      <li><a href="https://www.npmjs.com/package/crypto-js">https://www.npmjs.com/package/crypto-js</a></li>
      <li><a href="https://github.com/wymsee/cordova-HTTP">https://github.com/wymsee/cordova-HTTP</a></li>
    </ul>
  </nav>
</header>
