<meta charset="UTF-8">
<title>
  <%= globalTitle %> - <%= title %>
</title>
<script src="jquery-latest.min.js"></script>
<script src="FileSaver.js-1.3.3/FileSaver.min.js"></script>
<script src='csv-parse.js'></script>
<script type="text/javascript" src="utils.js"></script>
<script src="/socket.io/socket.io.js"></script>
<!-- Leaflet -->
<link rel="stylesheet" href="leaflet/leaflet.css">
<script src="leaflet/leaflet.js"></script>
<!-- -->
<!-- awesome-numbered-marker -->
<link rel="stylesheet" href="Leaflet.awesome-numbered-marker-master/src/leaflet_awesome_number_markers.css" />
<script src="Leaflet.awesome-numbered-marker-master/src/leaflet_awesome_number_markers.js"></script>
<!--  -->
<!-- groupedlayercontrol -->
<script src='leaflet-groupedlayercontrol-0.6.0/dist/leaflet.groupedlayercontrol.min.js'></script>
<link rel="stylesheet" href="leaflet-groupedlayercontrol-0.6.0/dist/leaflet.groupedlayercontrol.min.css">
<!--  -->
<!-- Bootstrap -->
<link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
<script src="bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<!-- -->
<link rel="stylesheet" href="ionicons-2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="style.css" />
<script src='common.js'></script>
<script src='mapFunctions.js'></script>
